/*Card Sizes*/

$width-phone:350px;
$height-phone:500px;

$width-desktop:600px;
$height-desktop:450px;

$card-radius-phone:10px;
$card-radius-desktop:20px;


/*Font family*/

$normal:400;
$default_font_family:'Ubuntu';
$font_size:40px;


/*Colors*/
$card_color:#F9F7F7;
$background_color:#3F72AF;
$icon_color:#AAAAAA;
$input_color:#DBE2EF;
$check_color:#36CF00;
$title-color:#112D4E;

/*title size*/

$title-width:189px;
$title-height:46px;



